@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(40, 40, 119);
}
.heading{
    margin: 5px;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
}
.container{
    width: 50vw;
    margin-inline: auto;
    margin-block: 20vh;
}
.coin-image{
    width: 15vw;
    margin-inline: auto;
    box-shadow: 2px 2px solid rgb(160,132,132);
    animation-name: none;
    animation-duration: 0.03s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.coin{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flip-btn{
    margin-block: 30px;
    padding: 10px 20px;
    margin-inline: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #F31559;
    color: white;
    border: 1px solid rgb(177, 170, 170);
    box-shadow: 2px 2px 4px rgb(160, 132, 132);
    border-radius: 4px;
    cursor: pointer;
    
}
.res{
    font-weight: 2.5rem;
    text-align: center;
    color: white;
    margin-block:10px ;
}
.btns{
    flex-direction: row;
    justify-content: center;
}
@keyframes flip{
    0%{
        transform: rotateX(0deg);
    }
    25%{
        transform: rotateX(180deg);
    }
    50%{
        transform: rotateX(0deg);
        
    }
    75%{
    transform:rotateX(180deg);
    }
}
.flip-btn:hover{
    border: 2px solid whitesmoke;
    background-color: #bc276d;
}
@media screen and ((width>600px) and (width<=800px)){
    .coin-image{
        width: 25vw;
    }
}
@media screen and (max-width:600px) {
    .heading{
        font-size: 2rem;
    }
    .container{
        width: 75vw;
    }
    .coin-image{
        width: 50vw;
    }
}
@media screen and (max-width:300px){
    .heading{
        font-size: 1.5rem;
    }
    .flip-btn{
        font-size: 0.8rem;
        padding:5px 10px;
        margin-inline: 8px;
    }
    .res{
        font-size: 1rem;
    }
}